<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="clg" class="com.masai.Collage">
        <property name="collage_name" value="Godawari Engineering College,Jalgaon"/>
        <property name="collage_address" value="Jalgaon" />
        <property name="student" ref="student"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="student" class="com.masai.Student">
       <constructor-arg value="1" />
        <constructor-arg value="Shubham"/>
        <constructor-arg value="800"/><!-- collaborators and configuration for this bean go here -->
    </bean>

    <!-- more bean definitions go here -->

</beans>
